In [2]:
import pandas as pd 
s_url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?cosd=1990-01-01&coed=2040-01-01&id=CPIAUCSL' 
df = pd.read_csv(s_url)
df

           DATE  CPIAUCSL
0    1990-01-01   127.500
1    1990-02-01   128.000
2    1990-03-01   128.600
3    1990-04-01   128.900
4    1990-05-01   129.100
..          ...       ...
391  2022-08-01   295.620
392  2022-09-01   296.761
393  2022-10-01   298.062
394  2022-11-01   298.349
395  2022-12-01   298.112

[396 rows x 2 columns]

In [3]:
df.to_csv("output.csv", index=False)
df.to_excel("output.xlsx")